<!DOCTYPE html>

<html>
    <body>
        <h1>{{project.title}}</h1>

        <ul>
            {% for task in tasks %}
                <li>{{task.description}} <a href="/delete/task/{{ task.id }}">Delete</a></li>
            {% endfor %}
        </ul>

        <h3>Add New Task</h3>
        <form action="/add/task/{{project.id}}" method="POST">
            <div>
                Task: <input type="text" name="task-description"></div>
            </div>

            <br>
            <input type="submit" value="Add Task">
        </form>

        <br>

        {% for category, message in get_flashed_messages(with_categories=true) %}
        <div style="color: {{ category }}"> {{ message }}</div>
        {% endfor %}
    </body>
</html>